/* Light Green Stylesheet */
.colorDark {
    background-color:rgba(127,186,0,1);
}

.colorDark-inactive {
    background-color:rgba(127,186,0,.5);
}

.colorMedium {
    background-color:rgba(186,218,10,1);
}

.colorMedium-inactive {
    background-color:rgba(186,218,10,.5);
}

.colorLight{
    background-color:rgba(226,229,132,1);
}

.colorLight-inactive {
    background-color:rgba(226,229,132,.5);
}

/*
.tabButton-inactive {
     background-color:rgba(70,104,197,.25);
    color:black;
}

.tabButton {
     background-color:rgba(70,104,197,1);
}

.tabPanel {
    border:5px solid rgba(70,104,197,1);
    padding:0px;
}
    */